@import './variables';
@import './mixins';

.navbar{
    background-color: $darkPurple;
    height: 5%;
    width: 100%;
    position: absolute;
}
.sidebar{
    background-color: $darkPurple;
    width: 20%;
    position: absolute;
    top: 5%;
    height: 95%;
    color: $white;
}
.current_user{
    border-top: 1px solid $white;    
    position: absolute;
    height: 10%;
    top: 0;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    @include setDivVerticallyCenter();
    padding-left: 10px;
}
.sidebar_options{
    border-top: 1px solid $white;    
    position: absolute;
    height: 90%;
    top: 10%;
    width: 100%;
}
.content{
    position: absolute;
    height: 95%;
    width: 80%;
    top: 5%;
    left: 20%;
}
.conversation_header{
    height: 10%;
    width: calc(100%-10px);
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid $gray;    
    @include setDivVerticallyCenter();
    padding-left: 10px;
}
.messages{
    height: 70%;
    width: 100%;
}
.add_message{
    height: 20%;
    width: 100%;
    @include setDivCenter();
}
.add_message_input{
    width: 80%;
    height: 30%;
    align-items: center;
    justify-content: center;
}