@import './variables';
@import './mixins';

.navbar{
    background-color: $darkPurple;
    height: 5%;
    width: 100%;
    position: absolute;
}
.sidebar{
    background-color: $darkPurple;
    width: 20%;
    position: absolute;
    top: 5%;
    height: 95%;
    color: $white;
}
.current_user{
    border-top: 1px solid $white;    
    position: absolute;
    height: 10%;
    top: 0;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    @include setDivVerticallyCenter();
    padding-left: 10px;
    cursor: pointer;
}
.sidebar_options{
    border-top: 1px solid $white;    
    position: absolute;
    height: 90%;
    top: 10%;
    width: 100%;
}
.content{
    position: absolute;
    height: 95%;
    width: 80%;
    top: 5%;
    left: 20%;
}
.conversation_header{
    height: 10%;
    width: calc(100%-10px);
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid $gray;    
    @include setDivVerticallyCenter();
    padding-left: 10px;
}
.messages{
    height: 70%;
    width: 100%;
}
.add_message{
    height: 20%;
    width: 100%;
    @include setDivCenter();
}
.add_message_input{
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border: none;
}
.add_message_container{
    border: 1px solid $gray;    
    height: 60%;
    width: 80%;
    border-radius: 5px;
    @include setDivVerticallyCenter();
}
.add_message_button{
    height: 50%;
    width: 20%;
    border: none;
    cursor: pointer;
}
.add_message_button:hover{
    background-color: $gray;
}
.messages{
    overflow: auto;
}
.message{
    height: 10%;
    width: calc(100%-10px);
    padding: 5px;
}
.message:hover{
    background-color: $whiteSmoke;
}
.message_sender{
    font-weight: bold;
}
.profile_dropdown_menu_options{
    background-color: $white;
    font-size: 20px;
    width: 90%;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    color: $veryDarkPurple;
    left: 5%;
    top: 10%;
    border-radius: 3%;
}
.profile_dropdown_menu_option{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 3%;
}